


/* GLOBAL STYLES  */
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    /*setting the default to 10px */
}

body, nav {
    background: rgb(0, 68, 6);
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
}

/* canvas BG */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

#three-container {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 0;
    font-size: 7rem;
    line-height: 1;
}

h2 {
    font-family: "Frijole", system-ui;
    font-weight: 800;
    font-style: normal;
    color: rgb(5, 82, 4);
}

h3 {
    font-size: 2.4rem;
}

/* responsive images */
img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/* link styles */
a {
    color: rgb(0, 255, 13);
}

a:hover {
    color: rgb(0, 68, 6);
}

.btn {
    background: rgb(0, 68, 6);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    line-height: 1;
    display: inline-block;
    padding: 7px;
    border-radius: 4px;
}

/* Download link for CV/ Resume */
.download-link {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 1.6rem;
}
@media screen and (max-width:1200px){
    .download-link {
        position: absolute;
    }
}

/* slide-items*/
/* NEED TO CHANGE -> this is what is causing everything not to fill the screen*/

.slide-item {
    transition: opacity 1.5s, transform 1.5s;
    margin: 200px 0;
    opacity: 0;
    text-align: center;
    position: relative;
}

.slide-item.left {
    /* slides in from the left to the center */
    transform: translateX(-250px);
}

.slide-item.right {
    /* slides in from the right to the center */
    transform: translateX(250px);
}

.slide-item.slide-in {
    opacity: 1;
    transform: translateX(0);
}

.slide-item img {
    width: 65%;
    height: auto;
}

/* responsive img story item  */
@media screen and (max-width:650px) {
    .slide-item {
        padding: 20px;
    }

    .slide-item img {
        width: 100%;
        height: auto;
    }
}

/* ABOUT  */
.about {
    background: rgb(0, 68, 6);
    /* placeholder BG  */
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about header {
    /* header image  */
    background: url(../images/backgrounds/leaves.jpeg) center;
    background-size: cover;
    display: block;
    height: 250px;
    /* padding-top: 5%; */
    text-align: center;
}

/* Nav Bar */
nav {
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:last-child {
    margin-left: auto; 
}

nav li {
    height: 70px;
}

nav a {
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(0, 255, 13);
}

nav a:hover {
    background-color: rgba(0, 255, 13, 0.76);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.44);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    padding: 0;
    width: 100%;
}

.sidebar a {
    width: 100%;
}


@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
}

@media(min-width: 800px){
    .hideOnLaptop{
        display: none;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
    flex: 1;
}

.about .content-wrapper {
    flex: 1 0 auto;
}

.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
}

.content-bg.slide-item.left {
    /* slides in from the left to the center */
    background: rgba(0, 68, 6, 0.8);
    display: inline-block;
}

.content-bg.slide-item.right {
    /* slides in from the right to the center */
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
}

h1.content-bg {
    margin: 0 auto;
    max-width: 400px;
    padding: 15px;
}

.content-bg h2 {
    display: block;
    text-align: center;
}

.content-bg img {
    /* isn't centering right now for some reason  */
    display: block;
    align-items: center;
    margin: auto;
    max-width: 50%;
    padding: 15px;
}

@media screen and (max-width:650px) {
    .about .content-wrapper {
        padding: 15px;
    }

    .content-bg {
        padding: 20px;
    }

    .content-bg img {
        max-width: 80%;

    }

    .about header {
        height: 150px;
    }
}

/* FOOTER */
footer {
    /* background: rgb(224 159 62); */
    background: url(../images/backgrounds/leaves.jpeg) center;
    /* color: rgb(255 243 176); */
    color: rgb(0, 255, 13);
}

footer p {
    background: rgba(0, 68, 6, 0.541);
    padding: 5px;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 15px;
}

.socials img {
    width: 32px;
    background: rgba(0, 68, 6, 0.541);
    padding: 5px;
}

.socials img:hover {
    opacity: 0.5;
}

@media screen and (min-width:860px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width:859px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}