


/* GLOBAL STYLES  */
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    /*setting the default to 10px */
}

body,
nav{
    background: rgb(204, 0, 255);
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 0;
    font-size: 7rem;
    line-height: 1;
}

h2 {
    font-family: "Frijole", system-ui;
    font-weight: 800;
    font-style: normal;
    color: rgb(4, 255, 0);
}

h3 {
    font-size: 2.4rem;
}

/* canvas BG */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

/* responsive images */
img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/* link styles */
a {
    color: rgb(204, 0, 255);
}

a:hover {
    color: rgb(105, 4, 95);
}

.btn {
    background: rgb(105, 4, 95);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    line-height: 1;
    display: inline-block;
    padding: 7px;
    border-radius: 4px;
}

/* PORT  */
.port {
    background: rgb(1, 3, 36);
    /* placeholder BG  */
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.port header {
    /* header image  */
    background: url(../images/backgrounds/purple-clouds.jpeg) center;
    background-size: cover;
    display: block;
    height: 250px;
    /* padding-top: 5%; */
    text-align: center;
}

/* Nav Bar */
nav {
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:last-child {
    margin-left: auto;
}

nav li {
    height: 70px;
}

nav a {
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(204, 0, 255);
}

nav a:hover {
    background-color: rgba(204, 0, 255, 0.76);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 997;
    background-color: rgba(0, 0, 0, 0.44);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    padding: 0;
    width: 100%;
}

.sidebar a {
    width: 100%;
}


@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
}

@media(min-width: 800px) {
    .hideOnLaptop {
        display: none;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/* Category selection button */
.cat-select {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 1.6rem;
    z-index: 998;
    background-color: rgba(240, 248, 255, 0);
    border: 0cap;

}
/* Cat Sidebar */
.cat-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.474);
    display: none;
    flex-direction:row;
    align-items: flex-start;
    justify-content: flex-start;
}
.cat-sidebar li {
    padding: 15px 15px;
    width: 100%;
}
.cat-sidebar a {
    width: 100%;
    font-size: 2rem;
}
.close-btn {
    background-color: rgb(204, 0, 255);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 25%;
    border: 4px solid rgb(9, 255, 0);
    padding: 5px 5px;
    font-size: 2rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* makes the image smaller */
/* @media screen and (max-width:1200px){  
    .cat-select img {
        width: 100%;
    }
} */
@media(max-width: 800px) {
    .cat-sidebar {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 0;
        font-size: 5rem;
    }
}


.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
    flex: 1;
}

.port .content-wrapper {
    flex: 1 0 auto;
}

.content-bg {
    background: rgb(255 255 255 / 0.85);
    padding: 30px;
}

h1.content-bg {
    margin: 0 auto;
    max-width: 400px;
    padding: 15px;
}

.content-bg h2 {
    display: block;
    text-align: center;
}

.orange-bg.content-bg {
    background: rgba(228, 28, 2, 0.8);
    color: greenyellow;
}

.green-bg.content-bg  {
    background: rgba(0, 97, 24, 0.8);
    color: greenyellow;
}

.content-bg img {
    display: block;
    align-items: center;
    margin: auto;
    max-width: 80%;
    padding: 15px;
}

.content-bg iframe {
    display: block;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 350px;
    padding: 15px;
}

.content-bg .carousel{
    display: block;
    align-items: center;
    margin: auto;
    width: 80%;
}
.content-bg .carousel-button{
    position: absolute;
}

@media screen and (max-width:650px) {
    .port .content-wrapper {
        padding: 15px;
    }

    .content-bg {
        padding: 20px;
    }

    .content-bg img {
        max-width: 90%;

    }

    .content-bg iframe {
        width: 80%;
        height: 250px;
        padding: 10px;
    }

    .port header {
        height: 150px;
    }
}

/* carousel */
.carousel {
    width: 50vw;
    height: 50vh;
    position: relative;
}

.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    overflow: hidden;
    /* overflow: auto; */
}

.slide img { /* will have to edit this inorder to have wide img and long img */
    display: block;
    max-width: 100%;
    object-position: center;

}

.slide .long-img {
    max-height: 100%;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: -5rem;
}

.carousel-button.next {
    right: -5rem;
}

@media screen and (max-width:650px) {
    .carousel {
        width: 80vw;
        height: 30vh;
    }

}


/* FOOTER */
footer {
    /* background: rgb(224 159 62); */
    background: url(../images/backgrounds/purple-clouds.jpeg) center;
    /* color: rgb(255 243 176); */
    color: rgb(0, 255, 13);
}

footer p {
    background: rgba(105, 4, 95, 0.541);
    padding: 5px;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 15px;
}

.socials img {
    width: 32px;
    background: rgba(105, 4, 95, 0.541);
    padding: 5px;
}

.socials img:hover {
    opacity: 0.5;
}

@media screen and (min-width:860px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width:859px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}